{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in its own circle around it.
It supports a default value for all the elements in the `else` branch of the `if`
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - secondary-stat {Object} : the secondary stat object
 - secondary-reference (String} : the name of the secondary name value. Used by FVTT to save the seondary stat value to the System
  - checkbox {Object} : the checkbox object
 - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
 }}
<div class="main-stat-value table-main-column">
    {{#if secondary-stat}}
        <div class="item secondary-stat flexcol" data-item-id="{{secondary-stat._id}}">
            <p class="item-value {{secondary-css-class}}">{{secondary-stat-value}}</p>
            <p class="item-name">{{secondary-stat.name}}
                <a class="item-delete action" title="{{ localize 'tor1e.sheet.item.delete' }}">
                    <i class="fas fa-trash"></i>
                </a>
            </p>
        </div>
    {{else}}
        <div class="secondary-stat flexcol item" data-item-id="{{secondary-stat._id}}">
            <p class="item-value {{secondary-css-class}}">0</p>
            <p class="item-name">{{ localize 'tor1e.actors.stats.noHeadgear' }}</p>
        </div>
    {{/if}}
    {{#if stat}}
        <div class="flexrow item" data-item-id="{{stat._id}}">
            <div class="flexrow item-name">
                <a class="item-delete action" title="{{ localize 'tor1e.sheet.item.delete' }}">
                    <i class="fas fa-trash"></i>
                </a>
                <p>
                    {{stat.name}}
                </p>
            </div>
            <p class="item-value {{css-class}}">{{stat-value}}</p>
        </div>
    {{else}}
        <div class="flexrow item" data-item-id="{{stat._id}}">
            <p class="item-name">{{ localize 'tor1e.actors.stats.noArmour' }}</p>
            <p class="item-value {{css-class}}">0</p>
        </div>
    {{/if}}
</div>