{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in a circle around it.
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - secondary-stat {Object} : the secondary stat object
 - secondary-reference (String} : the name of the secondary name value. Used by FVTT to save the seondary stat value to the System
  - checkbox {Object} : the checkbox object
 - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
 }}
{{log "Rollable Stat" stat }}
<div class="rollable main-stat flexcol">
    <a class="skill-name" title="{{localize stat.roll.label}}"
       data-action-name="{{localize stat.roll.label}}"
       data-action-value="{{stat.value}}">
        <label for={{reference}}>{{localize stat.label}}</label>
    </a>
    <div class="main-stat-value table-main-column">
        <input id={{reference}} name={{reference}} type="text" value="{{stat.value}}"
               data-dtype="{{stat.type}}"/>
    </div>
</div>