<li class="skill-item item" data-item-id="{{_id}}">
    <div class="skill-item-row flexrow">
        <div class="identification">
            <div class=" flexrow">
                <img class="editor-toggle" src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
                <a class="item-name {{#if data.favoured.value}} favoured-attribute{{/if}}"
                   title="{{ localize 'tor1e.sheet.action.toggle.favoured' }}"
                   data-action-name="{{name}}"
                   data-action-value="{{data.value}}"
                   data-action-favoured-name="data.favoured.value"
                   data-action-favoured-value="{{data.favoured.value}}">
                    <p>{{name}}</p>
                </a>
            </div>
        </div>
        <div class="stat-value">
            <div class="inline-item-skill-modify flexrow skill-element-row" data-field="data.value"
                 data-action-value="{{data.value}}"
                 data-action-max-value="6">
                {{#skill-dots data.value 6}}
                {{/skill-dots}}
            </div>
        </div>
        <div class="actions">
            <a class="item-edit action" title=""{{tor1e.sheet.skill.edit}}>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{ localize 'tor1e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable">
        {{editor content=this.data.description.value target="this.data.description.value" button=true owner=owner
                 editable=editable}}
    </div>
</li>