<li class="item" data-item-id="{{_id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-main-column flexrow">
            <div class="flexrow">
                <img class="editor-toggle" src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
                <a class="item-name {{#if data.favoured.value}} favoured-attribute{{/if}}"
                   title="{{ localize 'tor1e.sheet.action.toggle.favoured' }}"
                   data-action-name="{{name}}"
                   data-action-value="{{data.skill.value}}"
                   data-action-favoured-name="data.favoured.value"
                   data-action-favoured-value="{{data.favoured.value}}">
                    <p>{{name}}</p>
                </a>
            </div>
        </div>
        <div class="inline-item-skill-modify flexrow skill-element-row table-complex-column"
             data-field="data.skill.value"
             data-action-value="{{data.skill.value}}"
             data-action-max-value="6">
            {{#skill-dots data.skill.value 6}}
            {{/skill-dots}}
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.damage.value}}
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.edge.value}}
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.injury.value}}
        </div>
        <div>
            <a class="item-edit action" title="{{localize "tor1e.sheet.skill.edit"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title="{{ localize 'tor1e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="flexcol editor-container-toggelable">
        <div class="flexcol">
            <div class="flexrow">
                <p class="table-caption">{{localize "tor1e.weapons.details.group"}}</p>
                <p class="table-caption">{{localize "tor1e.weapons.details.calledShot"}}</p>
                <p class="table-caption">{{localize "tor1e.weapons.details.notes"}}</p>
            </div>
            <div class="flexrow">
                <p class="attribute-value">{{data.group.value}}</p>
                <p class="attribute-value">{{data.calledShot.value}}</p>
                <p class="attribute-value">{{data.notes.value}}</p>
            </div>
        </div>
        {{#if data.ranged.value}}
            <div class="flexcol">
                <div class="flexrow">
                    <p class="table-caption">{{localize data.ranged.short.label}}</p>
                    <p class="table-caption">{{localize data.ranged.medium.label}}</p>
                    <p class="table-caption">{{localize data.ranged.long.label}}</p>
                </div>
                <div class="flexrow">
                    <p class="attribute-value">{{data.ranged.short.value}} + {{localize "tor1e.stats.body"}}</p>
                    <p class="attribute-value">{{data.ranged.medium.value}}  + {{localize "tor1e.stats.body"}}</p>
                    <p class="attribute-value">{{data.ranged.long.value}}  + {{localize "tor1e.stats.body"}}</p>
                </div>
            </div>
        {{/if}}
        <div>
            <h3 class="toggle">{{localize "tor1e.common.description"}}</h3>
            <div class="editor-container">
                {{editor content=this.data.description.value target="this.data.description.value" button=true owner=owner
                         editable=editable}}
            </div>
        </div>
    </div>
</li>