<div class="dice-roll">
    <div class="skill-roll-item item flexcol">
        <div class="flexrow">
            <div class="roll-message-sidebar">
                <img src="{{flavor.owner.img}}" title="{{flavor.owner.name}}" height="62" width="50"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
            </div>
            <div class="flexcol roll-message-content">
                <div class="headings">
                    <h3>{{flavor.owner.name}}</h3>
                </div>
                <div class="roll-message-body">
                    <div class="flexrow roll-information-row">
                        <p class="label">
                            {{localize "tor1e.chat.actions.test"}}:
                        </p>
                        <p class="value">
                            {{flavor.action}}
                        </p>
                    </div>
                    <div class="flexrow roll-information-row">
                        <p class="label">
                            {{localize "tor1e.roll.difficulty"}}:
                        </p>
                        <p class="value">
                            {{difficulty}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h5 class="dice-total">{{localize "tor1e.chat.actions.roll"}}: <span class="{{result.cssClass}}">({{customTotal}})</span>
            <h5 class="dice-total"><span class="{{result.cssClass}}">{{localize result.message}}</span>
            </h5>
    </div>
</div>