<div class="flexrow skill-container">
    <div class="flexcol common-skill-column">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.personality
                reference="data.skills.personality.value"
                checkbox-reference="data.skills.personality.favoured.value"}}

        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.movement
                reference="data.skills.movement.value"
                checkbox-reference="data.skills.movement.favoured.value"}}

        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.perception
                reference="data.skills.perception.value"
                checkbox-reference="data.skills.perception.favoured.value"}}
    </div>

    <div class="flexcol common-skill-column">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.survival
                reference="data.skills.survival.value"
                checkbox-reference="data.skills.survival.favoured.value"}}

        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.custom
                reference="data.skills.custom.value"
                checkbox-reference="data.skills.custom.favoured.value"}}

        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.skills.vocation
                reference="data.skills.vocation.value"
                checkbox-reference="data.skills.vocation.favoured.value"}}
    </div>
</div>