<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}" alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">
        <header class="sheet-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
            <h1><label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </label></h1>
        </header>
        <div class="sheet-content">
            <label>{{localize data.group.label}}:
                <select name="data.group.value">
                    {{#select data.group.value}}
                        {{#each config.skillGroups as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>
            <label>{{localize data.associatedStat.label}}:
                <select name="data.associatedStat.value">
                    {{#select data.associatedStat.value}}
                        {{#each config.stats as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>
            <p>{{localize data.description.label}}:</p>
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

    </form>
</div>