<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}" alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">
        <header class="sheet-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"
                 alt="{{localize 'tor1e.specialAbilities.details.tech.alt'}}"/>
            <h1><label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </label></h1>
        </header>
        <div class="sheet-content item-sheet">
            <div class="flexrow item-row">
                <div class="flexrow attribute">
                    <label class="attribute-label" for="data.active.value">{{localize data.active.label}} :</label>
                    <input id="data.active.value" class="attribute-value" name="data.active.value" type="checkbox" value="{{data.active.value}}"
                           data-dtype="{{data.active.type}}" {{checked data.active.value}}/>
                </div>
                <div class="flexrow attribute">
                    <label class="attribute-label" for="data.cost.value">{{localize data.cost.label}} :</label>
                    <input id="data.cost.value" class="attribute-number-value" name="data.cost.value" type="text" value="{{data.cost.value}}"
                           data-dtype="{{data.cost.type}}"/>
                </div>
            </div>
            <p class="description-label">{{localize data.description.label}}:</p>
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

    </form>
</div>