<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}" alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}} item-sheet" autocomplete="off">
        <header class="sheet-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"
                 alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
            <h1><label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </label></h1>
        </header>
        <div class="sheet-content">
            <section id="attributes">
                <div class="flexrow table-row">
                    <p class="table-caption">{{localize "tor1e.weapons.details.damage"}} </p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.edge"}} </p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.injury"}} </p>
                    <p class="table-caption">{{localize "tor1e.items.common.enc"}} </p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.twoHandWeapon"}} </p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.ranged"}} </p>
                </div>

                <div class="flexrow table-row">
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.damage.value" type="text" value="{{data.damage.value}}"
                                   data-dtype="{{data.damage.type}}"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.edge.value" type="text" value="{{data.edge.value}}"
                                   data-dtype="{{data.edge.type}}"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.injury.value" type="text" value="{{data.injury.value}}"
                                   data-dtype="{{data.injury.type}}"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.encumbrance.value" type="text" value="{{data.encumbrance.value}}"
                                   data-dtype="{{data.encumbrance.type}}"/>
                        </label>
                    </div>
                    <div>
                        <div>
                            <input id="data.twoHandsWeapon.value" name="data.twoHandsWeapon.value" type="checkbox"
                                   value="{{data.twoHandsWeapon.value}}"
                                   data-dtype="{{data.twoHandsWeapon.type}}" {{checked data.twoHandsWeapon.value}}/>
                            <label for="data.twoHandsWeapon.value"></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input id="data.ranged.value" name="data.ranged.value" type="checkbox" value="{{data.ranged.value}}"
                                   data-dtype="{{data.ranged.type}}" {{checked data.ranged.value}}/>
                            <label for="data.ranged.value"></label>
                        </div>
                    </div>
                </div>
            </section>
            <section id="weapon-specific-details" class="flexcol">
                <div class="flexrow table-row">
                    <p class="table-caption">{{localize "tor1e.weapons.details.group"}} </p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.calledShot"}} </p>
                </div>
                <div class="flexrow table-row">
                    <label class="flexcol">
                        <select name="data.group.value">
                            {{#select data.group.value}}
                                {{#each config.weaponGroups as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </label>

                    <label class="flexcol">
                        <select name="data.calledShot.value">
                            {{#select data.calledShot.value}}
                                {{#each config.calledShots as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </label>
                </div>
            </section>

            <section id="range-details" class="flexcol {{#unless data.ranged.value}}hide{{/unless}}">
                <div class="flexrow table-row">
                    <p class="table-caption">{{localize data.ranged.short.label}}</p>
                    <p class="table-caption">{{localize data.ranged.medium.label}}</p>
                    <p class="table-caption">{{localize data.ranged.long.label}}</p>
                </div>
                <div class="flexrow table-row">
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.ranged.short.value" type="text" value="{{data.ranged.short.value}}"
                                   data-dtype="{{data.ranged.short.type}}"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.ranged.medium.value" type="text" value="{{data.ranged.medium.value}}"
                                   data-dtype="{{data.ranged.medium.type}}"/>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="attribute-number-value" name="data.ranged.long.value" type="text" value="{{data.ranged.long.value}}"
                                   data-dtype="{{data.ranged.long.type}}"/>
                        </label>
                    </div>
                </div>
            </section>

            <section id="miscellaneous-details">
                <label class="table-caption" id="notes">{{localize "tor1e.weapons.details.notes"}}
                    <input class="attribute-text-value" name="data.notes.value" type="text" value="{{data.notes.value}}"
                           data-dtype="{{data.notes.type}}"/>
                </label>

                <p class="description-label">{{localize "tor1e.weapons.details.description"}}:</p>
                {{editor content=data.description.value target="data.description.value" button=true owner=owner
                         editable=editable}}
            </section>
        </div>

    </form>

</div>
