<div class="flexrow">

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.combatAttributes.damage
            reference="data.combatAttributes.damage.value"
            secondary-stat=data.combatAttributes.damage.ranged
            secondary-reference="data.combatAttributes.damage.ranged.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.combatAttributes.parry
            reference="data.combatAttributes.parry.value"
            secondary-stat=shield
            secondary-stat-value=shield.data.protection.value
            secondary-css-class="bonus"}}

    <div id="protection" class="main-stat flexcol">
        <div class="complex-stat flexrow">
            <a class="skill-name {{#if data.armour.favoured.value}} favoured-attribute{{/if}}"
               title="{{ localize "tor1e.sheet.action.toggle.favoured" }}"
               data-action-name="{{localize "tor1e.rolls..protection"}}"
               data-action-value="{{armour.data.protection.value}}"
               data-action-value-bonus="{{headgear.data.protection.value}}"
               data-action-favoured-name="data.armour.favoured.value"
               data-action-favoured-value="{{data.armour.favoured.value}}">
                <p class="label">{{localize "tor1e.items.armours.armour"}}</p>
            </a>
        </div>
        {{> "systems/tor1e/templates/sheets/actors/components/complex-item-circle-card.hbs"
                stat=armour
                css-class="dice"
                stat-value=armour.data.protection.value
                secondary-stat=headgear
                secondary-stat-value=headgear.data.protection.value
                secondary-css-class="bonus"}}
    </div>

</div>