{{log "Character" this}}
<section class="flexrow" >
    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
            stat=data.fellowship
            reference="data.fellowship.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
            stat=data.advancementPoints
            reference="data.advancementPoints.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
            stat=data.treasure
            reference="data.treasure.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
            stat=data.standing
            reference="data.standing.value"}}
</section>