<div class="skill-groups flexcol">
    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.personality.value">{{localize data.skillGroups.personality.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.personality.value"
             data-action-value="{{data.skillGroups.personality.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.personality.value 3}}
            {{/skill-dots}}
        </div>
    </div>

    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.movement.value">{{localize data.skillGroups.movement.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.movement.value"
             data-action-value="{{data.skillGroups.movement.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.movement.value 3}}
            {{/skill-dots}}
        </div>
    </div>

    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.perception.value">{{localize data.skillGroups.perception.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.perception.value"
             data-action-value="{{data.skillGroups.perception.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.perception.value 3}}
            {{/skill-dots}}
        </div>
    </div>

    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.survival.value">{{localize data.skillGroups.survival.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.survival.value"
             data-action-value="{{data.skillGroups.survival.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.survival.value 3}}
            {{/skill-dots}}
        </div>
    </div>

    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.custom.value">{{localize data.skillGroups.custom.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.custom.value"
             data-action-value="{{data.skillGroups.custom.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.custom.value 3}}
            {{/skill-dots}}
        </div>
    </div>

    <div class="flexcol stat">
        <label class="skill-label" for="data.skillGroups.vocation.value">{{localize data.skillGroups.vocation.label}}</label>
        <div class="inline-skill-modify flexrow skill-element-row" data-field="data.skillGroups.vocation.value"
             data-action-value="{{data.skillGroups.vocation.value}}" data-action-max-value="3">
            {{#skill-dots data.skillGroups.vocation.value 3}}
            {{/skill-dots}}
        </div>
    </div>
</div>