<li class="item" data-item-id="{{_id}}">
    <div class="skill-item-row flexrow">
        <div class="identification table-complex-column flexrow">
            <div class=" flexrow editor-toggle">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.traits.details.tech.alt'}}"/>
                <p>{{name}}</p>
            </div>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.damage.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.edge.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.injury.value}}</p>
        </div>
        <div class="stat-value">
            <p class="attribute-value">{{data.encumbrance.value}}</p>
        </div>
        <div class="stat-value">
            <label for="{{data.equipped.value}}">
                <input class="inline-edit" type="checkbox" id="{{data.equipped.value}}" name="{{data.equipped.value}}"
                       data-field="data.equipped.value" data-dtype="{{data.equipped.type}}" {{checked data.equipped.value}} />
            </label>
        </div>
        <div class="actions">
            <a class="item-edit action" title="{{localize "tor1e.sheet.skill.edit"}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title=""{{tor1e.sheet.deleteSkill}}>
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="flexcol editor-container-toggelable">
            <div class="flexcol">
                <div class="flexrow">
                    <p class="table-caption">{{localize "tor1e.weapons.details.group"}}</p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.calledShot"}}</p>
                    <p class="table-caption">{{localize "tor1e.weapons.details.notes"}}</p>
                </div>
                <div class="flexrow">
                    <p class="attribute-value">{{data.group.value}}</p>
                    <p class="attribute-value">{{data.calledShot.value}}</p>
                    <p class="attribute-value">{{data.notes.value}}</p>
                </div>
            </div>
            {{#if data.ranged.value}}
                <div class="flexcol">
                    <div class="flexrow">
                        <p class="table-caption">{{localize data.ranged.short.label}}</p>
                        <p class="table-caption">{{localize data.ranged.medium.label}}</p>
                        <p class="table-caption">{{localize data.ranged.long.label}}</p>
                    </div>
                    <div class="flexrow">
                        <p class="attribute-value">{{data.ranged.short.value}} + {{localize "tor1e.stats.body"}}</p>
                        <p class="attribute-value">{{data.ranged.medium.value}}  + {{localize "tor1e.stats.body"}}</p>
                        <p class="attribute-value">{{data.ranged.long.value}}  + {{localize "tor1e.stats.body"}}</p>
                    </div>
                </div>
            {{/if}}
            <div>
                <h3  class="toggle">{{localize "tor1e.common.description"}}</h3>
                <div class="editor-container">
                {{editor content=this.data.description.value target="this.data.description.value" button=true owner=owner editable=editable}}
                </div>
            </div>
    </div>
</li>