<div class="flexrow">

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.attributes.body
            reference="data.attributes.body.value"
            secondary-stat=data.attributes.body.favoured
            secondary-reference="data.attributes.body.favoured.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.attributes.heart
            reference="data.attributes.heart.value"
            secondary-stat=data.attributes.heart.favoured
            secondary-reference="data.attributes.heart.favoured.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.attributes.wits
            reference="data.attributes.wits.value"
            secondary-stat=data.attributes.wits.favoured
            secondary-reference="data.attributes.wits.favoured.value"}}

</div>