<div class="flexrow">
    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.resources.endurance
            reference="data.resources.endurance.value"
            secondary-stat=data.resources.endurance.rating
            secondary-reference="data.resources.endurance.rating.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.resources.fatigue
            reference="data.resources.fatigue.value"
            secondary-stat=data.resources.fatigue.encumbrance
            secondary-reference="data.resources.fatigue.encumbrance.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.resources.hope
            reference="data.resources.hope.value"
            secondary-stat=data.resources.hope.rating
            secondary-reference="data.resources.hope.rating.value"}}


    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.resources.shadow
            reference="data.resources.shadow.value"
            secondary-stat=data.resources.shadow.permanent
            secondary-reference="data.resources.shadow.permanent.value"}}
</div>
