<div class="flexrow state-of-health">
    <div class="three-states-checkbox">
        <p class="attribute-label">{{localize data.stateOfHealth.weary.label}}</p>
        <div class="inline-3-states-modify {{threeStateWeary}}" data-field="data.stateOfHealth.weary.value"
             data-action-value="{{data.stateOfHealth.weary.value}}"></div>
    </div>

    <div class="three-states-checkbox">
        <p class="attribute-label">{{localize data.stateOfHealth.wounded.label}}</p>
        <div class="inline-3-states-modify {{threeStateWounded}}" data-field="data.stateOfHealth.wounded.value"
             data-action-value="{{data.stateOfHealth.wounded.value}}"></div>
    </div>

    <div class="three-states-checkbox">
        <p class="attribute-label">{{localize data.stateOfHealth.poisoned.label}}</p>
        <div class="inline-3-states-modify {{threeStatePoisoned}}" data-field="data.stateOfHealth.poisoned.value"
             data-action-value="{{data.stateOfHealth.poisoned.value}}"></div>
    </div>

    <div class="three-states-checkbox">
        <p class="attribute-label">{{localize data.stateOfHealth.miserable.label}}</p>
        <div class="inline-3-states-modify {{threeStateMiserable}}" data-field="data.stateOfHealth.miserable.value"
             data-action-value="{{data.stateOfHealth.miserable.value}}"></div>
    </div>

</div>
