<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">

        {{> "systems/tor1e/templates/sheets/actors/partials/common/actor-header-card.hbs"}}

        <div class="sheet-content">
            <section id="main-stats">
                <div class="flexrow simple-stat-row" id="resources">
                    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                            stat=data.attributeLevel
                            reference="data.attributeLevel.value"}}
                    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                            stat=data.endurance
                            reference="data.endurance.value"
                            checkbox=data.stateOfHealth.weary
                            checkbox-reference="data.stateOfHealth.weary.value"}}
                    {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                            stat=data.hate
                            reference="data.hate.value"}}
                </div>
                <div id="defense" class="flexrow simple-stat-row">
                    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
                            stat=data.parry
                            reference="data.parry.value"
                            secondary-stat=shield
                            secondary-stat-value=shield.data.protection.value
                            secondary-css-class="bonus"}}

                    <div id="protection" class="main-stat flexcol">
                        <div class="complex-stat flexrow">

                            <a class="skill-name {{#if data.armour.favoured.value}} favoured-attribute{{/if}}"
                               title="{{ localize "tor1e.sheet.action.toggle.favoured" }}"
                               data-action-name="{{localize "tor1e.items.armours.protection-roll"}}"
                               data-action-value="{{armour.data.protection.value}}"
                               data-action-value-bonus="{{headgear.data.protection.value}}"
                               data-action-favoured-name="data.armour.favoured.value"
                               data-action-favoured-value="{{data.armour.favoured.value}}">
                                <p class="label">{{localize "tor1e.items.armours.armour"}}</p>
                            </a>

                        </div>
                        {{> "systems/tor1e/templates/sheets/actors/components/complex-item-circle-card.hbs"
                                stat=armour
                                css-class="dice"
                                stat-value=armour.data.protection.value
                                secondary-stat=headgear
                                secondary-stat-value=headgear.data.protection.value
                                secondary-css-class="bonus"}}

                    </div>
                </div>
            </section>
            <section id="skills">
                <h2>{{localize "tor1e.actors.skills.title"}}</h2>
                {{> "systems/tor1e/templates/sheets/actors/partials/adversary/adversary-skill-card.hbs"}}
            </section>
            <section id="combat-skills">
                <h2>{{localize "tor1e.actors.combatSkills.title"}}</h2>
                <ul class="collapsibleList">
                    <div class="flexrow">
                        <p class="table-main-column table-caption">{{localize "tor1e.weapons.details.weapon"}}</p>
                        <p class="table-caption table-complex-column">{{localize "tor1e.weapons.details.ranks"}}</p>
                        <p class="table-caption">{{localize "tor1e.weapons.details.damage"}}</p>
                        <p class="table-caption">{{localize "tor1e.weapons.details.edge"}}</p>
                        <p class="table-caption">{{localize "tor1e.weapons.details.injury"}}</p>
                        <p class="table-caption"></p>

                    </div>
                    {{#each weapons as |weapon id|}}
                        {{> "systems/tor1e/templates/sheets/actors/partials/common/weapon-card.hbs" weapon}}
                    {{/each}}
                </ul>
            </section>
            <section id="specialAbilities">
                <h2>{{localize "tor1e.actors.specialAbilities.title"}}</h2>
                <div class="flexrow">
                    <div class="flexcol">
                        <ul class="collapsibleList">
                            {{#each leftSpecialAbilities as |specialAbilitie id|}}
                                {{> "systems/tor1e/templates/sheets/actors/partials/adversary/special-ability-card.hbs" specialAbilitie}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="flexcol">
                        <ul class="collapsibleList">
                            {{#each rightSpecialAbilities as |specialAbilitie id|}}
                                {{> "systems/tor1e/templates/sheets/actors/partials/adversary/special-ability-card.hbs" specialAbilitie}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </section>
            <section id="description">
                <h2 class="toggle">{{localize "tor1e.common.description"}}</h2>
                <div class="editor-container">
                    {{editor content=data.description.value target="data.description.value" button=true owner=owner
                             editable=editable}}
                </div>
            </section>
        </div>
    </form>
</div>