<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">

        {{> "systems/tor1e/templates/sheets/actors/partials/common/actor-header-card.hbs"}}

        <div class="sheet-content">

            <section class="flexrow" id="stats">
                {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                        stat=data.attributeLevel
                        reference="data.attributeLevel.value"}}
                {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                        stat=data.endurance
                        reference="data.endurance.value"
                        checkbox=data.stateOfHealth.weary
                        checkbox-reference="data.stateOfHealth.weary.value"}}
            </section>
            <section class="flexrow" id="traits">
                <div class="flexcol" id="specialities">
                    <h2>{{localize "tor1e.actors.traits.specialities"}}</h2>
                    <ul class="collapsibleList">
                        {{#each specialities as |speciality id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" speciality}}
                        {{/each}}
                    </ul>
                </div>
                <div class="flexcol" id="distinctive-features">
                    <h2>{{localize "tor1e.actors.traits.distinctiveFeatures"}}</h2>
                    <ul class="collapsibleList">
                        {{#each distinctiveFeatures as |distinctiveFeature id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" distinctiveFeature}}
                        {{/each}}
                        {{#each flaws as |flaw id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" flaw}}
                        {{/each}}
                    </ul>
                </div>
            </section>
            <section class="flexcol" id="relevant-skills">
                <h2>{{localize "tor1e.actors.skills.relevantSkills"}}</h2>
                <ul class="collapsibleList">
                    {{#each skills as |skill id|}}
                        {{> "systems/tor1e/templates/sheets/actors/partials/common/skill-card.hbs" skill}}
                    {{/each}}
                </ul>
                <ul class="collapsibleList">
                    {{#each weaponSkills as |weaponSkill id|}}
                        {{> "systems/tor1e/templates/sheets/actors/partials/common/skill-card.hbs" weaponSkill}}
                    {{/each}}
                </ul>
            </section>
            <section class="flexcol" id="description">
                <h2 class="toggle">{{localize data.description.label}}</h2>
                {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </section>
        </div>
    </form>
</div>