.success {
  color: darkgreen;
}

.failure {
  color: crimson;
}

.skill-roll-item {
  margin-bottom: 0.5em;
}

.roll-message-sidebar {
  flex: 1;
}

.roll-message-content {
  flex: 3;

  .headings {
    flex: none;

    h3 {
      margin: 0;
    }
  }
}

.roll-message-body {
  flex: none;
  border: 1px solid #999;
  background: rgba(0, 0, 0, 0.05);;


  .roll-information-row {
    p {
      margin: 0;

    }

    .label {
      text-align: left;
    }

    .value {
      font-weight: bold;
      text-align: center;
    }
  }
}

.dice-tooltip {
  .dice {
    .dice-rolls {
      .mandatory {
        opacity: 1;
      }

      .optional {
        opacity: 0.2;
      }
    }
  }
}